name: NYT Master Scraper

on:
  schedule:
    - cron: '30 04 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and Push
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          
          # Conflict se bachne ke liye naya data pull karna
          git pull origin main --rebase
          
          # File add aur commit
          git add data.json
          git commit -m "Automated Data Update [skip ci]" || echo "No changes to commit"
          
          # Force push taake har haal mein update ho
          git push origin main --force
